{% if not ajax %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>{{ app_title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" title="Django file upload">

    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/reset.css">
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
    {% block extra_css %}{% endblock %}

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-form/jquery.form.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui/jquery-ui-1.8.18.custom.min.js"></script>
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}js/jquery-ui/css/ui-lightness/jquery-ui-1.8.18.custom.css">

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-pb/jquery.progressbar.min.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>
    {% block extra_js %}{% endblock %}

    {% block extra_head %}{% endblock %}
</head>
<body>
{% endif %}
{% block content %}{% endblock %}
{% if not ajax %}
</body>
</html>
{% endif %}